*.a
*.la
*.patch
*.o
*.lo
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache
src/hal.pc

proxy/spiproxyd
src/nrfd/nrfd
src/seriald/seriald
src/lorad/lorad
tools/rpiecho
tools/sniffer

cscope.in.out
cscope.out
cscope.po.out

include/arduino
